.boxed-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(214, 227, 248);
  padding: 0 10px;
  margin: 15px 10px 0;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
  gap: 5px;
  height: fit-content;
}

.boxed-content h1 {
  align-self: flex-start;
  margin-top: 10px;
  font-size: 1.2rem;
}

.linked-box {
  display: grid;
  width: 100%;
  grid-template-columns: 15% 85%;
  align-items: center;
  border-radius: 14px;
  margin-bottom: 5px;
  color: #484d53;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
  padding: 5px;
}

.linked-box .link {
  border-left: 3px solid #484d53;
}

.linked-box h2 {
  margin-left: 10px;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 12px;
}

.linked-box .icon,
.linked-box .picture {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.linked-box h2 a {
  text-decoration: none;
  color: #484d53;
}

.linked-box .picture img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  z-index: calc(2 * var(--i));
  margin-left: -10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
}


/* Hoja de personaje */
body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

h1, h2 {
    color: #333;
}

section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Puedes añadir más estilos personalizados aquí */
