// Import the functions you need from the SDKs you need
import { initializeApp } from "firebase/app";
// TODO: Add SDKs for Firebase products that you want to use
// https://firebase.google.com/docs/web/setup#available-libraries

// Your web app's Firebase configuration
const firebaseConfig = {
  apiKey: "AIzaSyD49dBskpFc1slU2n00gxaPSzsMt6xE5Uc",
  authDomain: "soro-dashboard.firebaseapp.com",
  projectId: "soro-dashboard",
  storageBucket: "soro-dashboard.appspot.com",
  messagingSenderId: "167327093021",
  appId: "1:167327093021:web:79d8d00aeb165aae3751f4"
};

// Initialize Firebase
const app = initializeApp(firebaseConfig);