@font-face {
	font-family: SAOUI;
	src:
		url('../fonts/SAOUITT-Regular.ttf') format('truetype'),
		url('../fonts/SAOUI-Regular.otf') format('opentype');

}

@font-face {
	font-family: SAOUI;
	src:
		url('../fonts/SAOUITT-Bold.ttf') format('truetype'),
		url('../fonts/SAOUI-Bold.otf') format('opentype');
	font-weight: bold;
}

@font-face {
	font-family: SAOWelcome;
	src:
		url('../fonts/SAOWelcomeTT-Regular.ttf') format('truetype'),
		url('../fonts/SAOWelcome-Regular.otf') format('opentype');
}

@font-face {
	font-family: SAOWelcome;
	src:
		url('../fonts/SAOWelcomeTT-Bold.ttf') format('truetype'),
		url('../fonts/SAOWelcome-Bold.otf') format('opentype');
	font-weight: bold;
}

* {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin: 0;
	padding: 0;
}

body {
	background: #fff;
	background-size: 10px;
	color: #656361;
	text-shadow: 2px 2px 1px #F3EFEB;
	font-family: SAOUI, sans-serif;
	font-size: 20px;
	font-weight: light;
	-webkit-font-smoothing: antialiased;
	cursor: default;
}

css-doodle {
	height: 100vh;
	width: 100vw;
	margin: auto;
	background: #fff;
	overflow: hidden;
	/* display: flex; */
	/* align-items:center; */
	/* justify-content: center; */
	box-shadow: inset 0px 0px 200px 5000px #000;
	transition: all 5s linear;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	position: absolute;
}

div#container-outter {
	background: transparent;
	width: 350px;
	height: 110px;
	position: absolute;
	top: 10px;
	left: 10px;
	border: 5px solid #f3efeb;
}

div#container-inner {
	background: #f3efeb;
	width: 340px;
	height: 100px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}