#floating-nav {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: "SAOUI";
	z-index: -999;
	opacity: 0;
}
:root{
	/* Colors */
	--colortext: #6c6b6c;
	--color: #f3efeb;
	--colorhighlight: #e7a92d;
	--colorbg: #ffffff;
	--colorbgdark: #d4d2d0;
	--colorbg-linear1: #e9e9e9;
	--colorbg-linear2: #5f5f5f7d;
	--colorshadow-dark: #5f5f5f7d;
	--colorshadow-light: #f3efeb;
	--colorok:#6fa7d3;
	--colorko:#f16976;
	/* Animations */
	--animation-delay: 2s;
	--animation: pord1 3s 0s infinite;
}

/* Mecanica sin estilo */
#floating-nav ul {
  margin: 0;
  padding: 0;
  list-style:none;
}

#floating-nav .floatingmenu {
  display: none;
	opacity: 0;
	left: 60px;
    transition: opacity 1s linear;
}

#floating-nav input[type="checkbox"]{
  display: none;
}

#floating-nav li,
#floating-nav .floatingmenu {
/*   border-style: solid; */
/*   border-color: rgba(0, 0, 0, .05); */
}

#floating-nav li {
/*   border-width: 0 0 0px; */
}

#floating-nav .floatingmenu {
/*   background-color: #444; */
/*   border-width: 1px 1px 0; */
/*   margin: 0 1em; */
}

#floating-nav .floatingmenu li:last-child {
/*   border-width: 0; */
}


#floating-nav li, 
#floating-nav span, {
  position: relative;
  display: block;
/*   color: #000000; */
  /*text-shadow: 1px 1px 0 rgba(0, 0, 0, .125);*/
}

#floating-nav span {
/*   padding: 1em 1.5em; */
}

#floating-nav span {
  transition: all .125s ease-in-out;
  -webkit-transition: all .125s ease-in-out;
}

#floating-nav span:hover {
/*   background-color: white; */
/*   color: #09c; */
}

#floating-nav .floatingmenu {
  display: none;
}

#floating-nav input[type="checkbox"]:checked ~ .floatingmenu {
  display: block;
	opacity: 1;
}

/* ESTILOS MENU PRINCIPAL */


#floating-nav{
/*   position: absolute; */
/* 	top: 50%; */
/* 	left: 50%; */
/* 	transform: translate(-50%, -50%); */
	font-family: "SAOUI";
	z-index: -999;
}

#nav-options>li  {
	position: relative;
	border-radius: 50%;
	border: 4px solid #f3efeb;
	margin: 15px auto;
	width: 40px;
	height: 40px;
	cursor: pointer;
	transition: all 1s linear, bottom 0.5s ease-in-out, opacity 0.5s ease-in-out;
	-webkit-transition: all 1s linear, bottom 0.5s ease-in-out,
		opacity 0.5s ease-in-out;
	top: 0px;
	opacity: 1;
}

#nav-options>li>label {
  display:inline-block;
	border-radius: 50%;
	background: var(--color);
	margin: 4px;
	width: 32px;
	height: 32px;
	transition: all 1s linear;
	-webkit-transition: all 1s linear;
}

#nav-options>li>label>i {
  color: var(--colorhighlight);
  width:32px;
  height:32px;
  display:flex;
  align-items:center;
  justify-content:center;
	text-shadow: 0px 0px 2px var(--colorshadow-dark);
	transition: color 0s linear, tranform 0.5s linear;
}

#nav-options>li:hover,
#nav-options>li:has(> [type="checkbox"]:checked)
{
	border-color: var(--colorhighlight);

}
#nav-options>li:hover>label,
#nav-options>li>[type="checkbox"]:checked + label{
    background-color: var(--colorhighlight);
}

#nav-options>li:hover>label>i,
#nav-options>li>[type="checkbox"]:checked + label>i{
	color: var(--colorbg) !important;
/* 	transform: translate(-50%, -50%) rotateZ(359deg); */
}

#nav-options>li>label::after {
	content: "\A";
	z-index: -1;
	opacity: 0;
	border-style: solid;
	border-width: 6px 10px 6px 0px;
	border-color: transparent var(--color);
	position: absolute;
	right: 00%;
	top: 50%;
	transform: translate(-50%, -50%);
	transition: all 1s linear(0 0%,
			0 2.27%,
			0.02 4.53%,
			0.04 6.8%,
			0.06 9.07%,
			0.1 11.33%,
			0.14 13.6%,
			0.25 18.15%,
			0.39 22.7%,
			0.56 27.25%,
			0.77 31.8%,
			1 36.35%,
			0.89 40.9%,
			0.85 43.18%,
			0.81 45.45%,
			0.79 47.72%,
			0.77 50%,
			0.75 52.27%,
			0.75 54.55%,
			0.75 56.82%,
			0.77 59.1%,
			0.79 61.38%,
			0.81 63.65%,
			0.85 65.93%,
			0.89 68.2%,
			1 72.7%,
			0.97 74.98%,
			0.95 77.25%,
			0.94 79.53%,
			0.94 81.8%,
			0.94 84.08%,
			0.95 86.35%,
			0.97 88.63%,
			1 90.9%,
			0.99 93.18%,
			0.98 95.45%,
			0.99 97.73%,
			1 100%);
	-webkit-transition: all 1s linear(0 0%,
			0 2.27%,
			0.02 4.53%,
			0.04 6.8%,
			0.06 9.07%,
			0.1 11.33%,
			0.14 13.6%,
			0.25 18.15%,
			0.39 22.7%,
			0.56 27.25%,
			0.77 31.8%,
			1 36.35%,
			0.89 40.9%,
			0.85 43.18%,
			0.81 45.45%,
			0.79 47.72%,
			0.77 50%,
			0.75 52.27%,
			0.75 54.55%,
			0.75 56.82%,
			0.77 59.1%,
			0.79 61.38%,
			0.81 63.65%,
			0.85 65.93%,
			0.89 68.2%,
			1 72.7%,
			0.97 74.98%,
			0.95 77.25%,
			0.94 79.53%,
			0.94 81.8%,
			0.94 84.08%,
			0.95 86.35%,
			0.97 88.63%,
			1 90.9%,
			0.99 93.18%,
			0.98 95.45%,
			0.99 97.73%,
			1 100%);
}

#nav-options>li>label::before {
	content: "\A";
	z-index: -1;
	opacity: 0;
	border-style: solid;
	border-width: 6px 0px 6px 10px;
	border-color: transparent var(--color);
	position: absolute;
	left: 00%;
	top: 50%;
	transform: translate(50%, -50%);
	transition: all 1s linear(0 0%,
			0 2.27%,
			0.02 4.53%,
			0.04 6.8%,
			0.06 9.07%,
			0.1 11.33%,
			0.14 13.6%,
			0.25 18.15%,
			0.39 22.7%,
			0.56 27.25%,
			0.77 31.8%,
			1 36.35%,
			0.89 40.9%,
			0.85 43.18%,
			0.81 45.45%,
			0.79 47.72%,
			0.77 50%,
			0.75 52.27%,
			0.75 54.55%,
			0.75 56.82%,
			0.77 59.1%,
			0.79 61.38%,
			0.81 63.65%,
			0.85 65.93%,
			0.89 68.2%,
			1 72.7%,
			0.97 74.98%,
			0.95 77.25%,
			0.94 79.53%,
			0.94 81.8%,
			0.94 84.08%,
			0.95 86.35%,
			0.97 88.63%,
			1 90.9%,
			0.99 93.18%,
			0.98 95.45%,
			0.99 97.73%,
			1 100%);
	-webkit-transition: all 1s linear(0 0%,
			0 2.27%,
			0.02 4.53%,
			0.04 6.8%,
			0.06 9.07%,
			0.1 11.33%,
			0.14 13.6%,
			0.25 18.15%,
			0.39 22.7%,
			0.56 27.25%,
			0.77 31.8%,
			1 36.35%,
			0.89 40.9%,
			0.85 43.18%,
			0.81 45.45%,
			0.79 47.72%,
			0.77 50%,
			0.75 52.27%,
			0.75 54.55%,
			0.75 56.82%,
			0.77 59.1%,
			0.79 61.38%,
			0.81 63.65%,
			0.85 65.93%,
			0.89 68.2%,
			1 72.7%,
			0.97 74.98%,
			0.95 77.25%,
			0.94 79.53%,
			0.94 81.8%,
			0.94 84.08%,
			0.95 86.35%,
			0.97 88.63%,
			1 90.9%,
			0.99 93.18%,
			0.98 95.45%,
			0.99 97.73%,
			1 100%);
}

#nav-options>li.opt-right>[type="checkbox"]:checked + label::before {
	left: -75%;
	opacity: 1;
}
#nav-options>li.opt-left>[type="checkbox"]:checked + label::after {
	right: -25px;
	opacity: 1;
}

/* ESTILOS SUBMENU */ 

.floatingmenu {
	position: absolute;
	top: 50%;
	left: 0px;
	transform: translateY(-50%);
	/* display: none; */
/* 	height: 0; */
/* 	overflow: hidden; */
	transition: all 1s linear;
	-webkit-transition: all 0.2s linear;
	border: 10px solid;
	border-image-slice: 1;
	border-width: 1px;
	border-top: 0;
	border-right: 0;
	border-image-source: linear-gradient(to bottom, transparent, var(--colorshadow-dark), transparent);
  width:fit-content;
	overflow-y: scroll;
	max-height: 183px;
}
.floatingmenu::-webkit-scrollbar {
  display: none;
}

.floatingmenu>li {
	position: relative;
	list-style: none;
	background-color: var(--color);
	margin: 1px auto;
	min-width: 200px;
	height: 40px;
	padding: 10px;
	cursor: pointer;
	transition: all 1s linear;
	-webkit-transition: all 1s linear;
	display: flex;
	align-items: center;
}


.blur-top,
.blur-bottom {
    position: absolute;
    left: 0;
    right: 0;
    height: 20px; /* Altura del difuminado, ajusta según sea necesario */
    background: linear-gradient(rgba(255, 255, 255, 0), white); /* Gradiente blanco-transparente */
    pointer-events: none;
}

.blur-top {
    top: 0;
}

.blur-bottom {
    bottom: 0;
}



/* PERFIL */
#perfil-outter {
	/* display: none; */
	width: 250px;
	height: 0;
	position: absolute;
	left: -280px;
	top: 0;
	border: 2px solid var(--color);
	transform: translate(0, -45%);
	background: transparent;
	opacity: 0;
	transition: all .1s linear;
	-webkit-transition: all 1s linear, opacity 0.5s linear;
}

#nav-options>li.opt-right.active #perfil-outter {
	height: 400px;
	opacity: 1;
}

#nav-options>li.opt-right.active #perfil-inner {
	opacity: 1;
	height: 390px;
	/* -webkit-transition: all 1s linear, opacity 5s ease-out; */
}

#nav-options>li.opt-right #perfil-inner {
	opacity: 0;
	transition: all .1s linear;
	-webkit-transition: all 1s linear, opacity 1s cubic-bezier(1, 0, 1, 1);
	width: 240px;
	height: 0;
	margin: 5px;
	display: grid;
	grid-template-rows: 10% auto 15%;
	background: var(--color);
}

#perfil-inner div {
	text-align: center;
}

#perfil-inner div:not(:last-child) {
	border: 10px solid;
	border-image-slice: 1;
	border-width: 1px;
	border-top: 0;
	border-image-source: linear-gradient(to left, transparent, var(--colorshadow-dark), transparent);
}

#perfil-inner div {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-content: space-around;
	justify-content: space-around;
	align-items: center;
}


#perfil-inner i {
	font-size: 30px;
	margin: auto;
}